# Module.config
# For more info on how to use this file, visit http://beaverbrewer.com/module-config

Module Name: Boilerplate
Module Slug: beaver-brewer-module-boilerplate
Module Version: 1.2
Short Description: This is a boilerplate module that is meant to be edited.
Author Name: Ryan Benhase
Author URL: http://beaverbrewer.com
Update URL: http://beaverbrewer.com/bb-updates/beaver-brewer-module-boilerplate
Download ZIP: http://beaverbrewer.com/bb-downloads/beaver-brewer-module-boilerplate
More Info URL: http://beaverbrewer.com/module-boilerplate
