# Module.config
# For more info on how to use this file, visit https://beaverbrewer.com/module-config

Module Name: Boilerplate
Module Version: 1.1
Author Name: Ryan Benhase
Author URI: http://ryanbenhase.com
Short Description: This is a boilerplate module that is meant to be edited.
Update URI: http://beaverbrewer.com/bb-updates/beaver-brewer-module-boilerplate
Download ZIP: http://beaverbrewer.com/bb-downloads/beaver-brewer-module-boilerplate
More Info URL: https://beaverbrewer.com/module-boilerplate
